$x-small: 575.98px;
$small: 767.98px;
$medium: 991.98px;
$large: 1199.98px;
$x-large: 1399.98px;
$big: 1592.98px;
$x-big: 1829.98px;
.contact {
  &__main {
    max-width: 1440px;
    margin: 0 auto;
    padding: 30px 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    @media screen and (max-width: $large){
      padding: 30px 80px;
    }
    @media screen and (max-width: $medium){
      padding: 30px 50px;
    }
    @media screen and (max-width: $small){
      grid-template-columns: 1fr;
    }
    @media screen and (max-width: $x-small){
      padding: 30px;
    }
  }
  &__address {
    display: flex;
    flex-direction: column;
    gap: 30px;
    &_map {
      height: 419px;
    }
    &_info {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    &_title {
      font-size: 22px;
      line-height: 26px;
      color: #171717;
      font-family: 'Exo 2 Bold', serif;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
    &_contact {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
    &_phone {
      font-size: 20px;
      line-height: 25px;
      letter-spacing: 1px;
      color: #EF7F1A;
    }
    &_email {
      font-size: 20px;
      line-height: 25px;
      letter-spacing: 1px;
      color: #171717;
    }
    &_vk {
      display: flex;
      flex-direction: column;
      gap: 12px;
      img {
        width: 36px;
        height: 36px;
      }
    }
    &_text {
      color: #171717;
      font-size: 16px;
      line-height: 20px;
      font-family: 'Exo 2 Bold', serif;
    }
    &_container {
      display: flex;
      gap: 10px;
    }
  }
  &__questions {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &__tabs {
    max-width: 1440px;
    margin: 0 auto;
    padding: 70px 80px 100px 80px;
    @media screen and (max-width: $large){
      padding: 70px 80px 100px 80px;
    }
    @media screen and (max-width: $medium){
      padding: 70px 50px;
    }
    @media screen and (max-width: $x-small){
      padding: 30px;
    }
    &_info {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    &_content {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 20px;
      @media screen and (max-width: $x-small){
        grid-template-columns: 1fr;
      }
    }
    &_title {
      font-size: 20px;
      line-height: 25px;
      font-weight: 500;
      letter-spacing: 1px;
      color: #818181;
      font-family: 'Exo 2 Bold', serif;
      @media screen and (max-width: $small){
        font-size: 16px;
        line-height: 20px;
      }
    }
    &_text {
      font-size: 20px;
      line-height: 25px;
      letter-spacing: 1px;
      font-family: 'Exo 2 Bold', serif;
      @media screen and (max-width: $small){
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
}