.editor__content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  &.error {
    border: 1px solid red;
  }
  ol {
    margin-left: 23px;
  }
  ul {
    margin-left: 23px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    li {
      line-height: 23px;
    }
  }
  p {
    line-height: 25px;
  }
  .table-container {
    overflow-x: auto;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    //text-align: left;
  }
  th {
    background-color: #EF7F1A;
    color: white;
  }
  img {
    border-radius: 4px;
  }
}