.editor__content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  &.error {
    border: 1px solid red;
  }
  ol {
    margin-left: 23px;
  }
  ul {
    margin-left: 23px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    li {
      line-height: 23px;
    }
  }
  p {
    line-height: 25px;
  }
  .table-container {
    overflow-x: auto;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    //text-align: left;
    text-align: center;
  }
  th {
    background-color: #EF7F1A;
    color: white;
  }
  img {
    border-radius: 4px;
  }
  .image-block {
    img {
      width: 100%;
      max-width: 300px;
      object-fit: contain;
      cursor: pointer;
    }
  }
  .columns {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  .column {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

.custom-table-wrapper {
  overflow-x: auto;
}

.custom-table-wrapper table {
  width: 100%;
  border-collapse: collapse;
}

.custom-table-wrapper th,
.custom-table-wrapper td {
  border: 1px solid #ddd;
  padding: 8px;
  vertical-align: top;
}

.cell-editor {
  min-height: 50px;
}