$x-small: 575.98px;
$small: 767.98px;
$medium: 991.98px;
$large: 1199.98px;
$x-large: 1399.98px;
$big: 1592.98px;
$x-big: 1829.98px;

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: fixed;
  z-index: 1000;
  &__plug {
    height: 108px;
    @media screen and (max-width: $medium) {
      height: 98px;
    }
    @media screen and (max-width: $small) {
      height: 96px;
    }
    @media screen and (max-width: $x-small) {
      height: 72px;
    }
  }
  &.hidden {
    overflow: hidden;
  }
  &__info {
    background-color: #EF7F1A;
    z-index: 52;
    &_page {
      max-width: 1440px;
      margin: 0 auto;
      padding: 10px 80px;
      display: flex;
      justify-content: space-between;
      @media screen and (max-width: $medium) {
        padding: 10px 50px;
      }
      @media screen and (max-width: $x-small) {
        padding: 5px 30px;
      }
    }
    &_container-text {
      display: flex;
      align-items: center;
      gap: 36px;
      @media screen and (max-width: $small) {
        display: none;
      }
      &-phone {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px 30px;
        a {
          color: #EF7F1A;
          font-size: 16px;
          &.active {
            color: #171717;
          }
        }
      }
      a {
        color: white;
        font-size: 20px;
        transition: 0.1s;
        &:hover {
          color: #171717;
          transition: 0.1s;
        }
        &.active {
          color: #171717;
        }
      }
    }
    &_container-phone {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 8px;
      text-decoration: none;
      transition: 0.2s;
      svg {
        @media screen and (max-width: $x-small) {
          width: 16px;
          height: 15px;
        }
      }
      p {
        color: white;
        font-size: 18px;
        @media screen and (max-width: $x-small) {
          font-size: 15px;
        }
      }
      &:hover {
        transition: 0.2s;
        svg {
          path {
            fill: #171717;
          }
        }
        p {
          color: #171717;
        }
      }
    }
  }
  &__main {
    background-color: #fff;
    border-bottom: 1px solid #CCCCCC;
    z-index: 51;
    &_page {
      max-width: 1440px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 80px;
      @media screen and (max-width: $medium) {
        padding: 10px 50px;
      }
      @media screen and (max-width: $x-small) {
        padding: 5px 30px;
      }
    }
    &_logo {
      height: 30px;
      transition: 0.3s;
      @media screen and (max-width: $small) {
        width: 180px;
      }
      @media screen and (max-width: $x-small) {
        width: 150px;
      }
    }
    &_nav {
      display: flex;
      gap: 32px;
      font-weight: 500;
      @media screen and (max-width: $small) {
        display: none;
      }
      &-phone {
        display: flex;
        flex-direction: column;
        gap: 16px;
        a {
          cursor: pointer;
          font-family: 'Exo 2 Bold', serif;
          transition: 0.1s;
          color: #171717;
        }
        &-arrow {
          height: 100%;
          transition: 0.1s;
        }
        &-item {
          &.active {
            color: #EF7F1A;
          }
          &:hover {
            color: #EF7F1A;
            transition: 0.1s;
          }
        }
      }
      a {
        cursor: pointer;
        font-family: 'Exo 2 Bold', serif;
        transition: 0.2s;
        color: #171717;
      }
      &-arrow {
        height: 100%;
        transition: 0.1s;
      }
      &-item {
        &.active {
          color: #EF7F1A;
        }
        &:hover {
          color: #EF7F1A;
          transition: 0.1s;
        }
      }
    }
    &_nav-container {
      display: flex;
      align-items: center;
      gap: 4px;
      cursor: pointer;
      &:hover, &.active {
        a {
          color: #EF7F1A;
          transition: 0.1s;
        }
        svg {
          path {
            fill: #EF7F1A;
          }
        }
      }
      a {
        font-family: 'Exo 2 Bold', serif;
        transition: 0.1s;
      }
    }
    &_menu {
      display: flex;
      align-items: center;
      gap: 16px;
      @media screen and (max-width: $x-small){
        gap: 10px;
      }
      &-btn {
        display: none;
        @media screen and (max-width: $small) {
          display: block;
        }
      }
      a {
        display: flex;
        align-items: center;
      }
      svg {
        cursor: pointer;
        transition: 0.1s;
        width: 24px;
        height: 24px;
        @media screen and (max-width: $x-small){
          width: 20px;
          height: 20px;
        }
        &.active {
          path {
            fill: #EF7F1A;
          }
        }
        &:hover {
          path {
            fill: #EF7F1A;
            transition: 0.1s;
          }
        }
      }
      &_basket {
        position: relative;
        &_quantity {
          position: absolute;
          top: -6px;
          right: -6px;
          background-color: #EF7F1A;
          font-size: 12px;
          width: 15px;
          height: 15px;
          color: white;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    &-search {
      display: flex;
      justify-content: center;
      align-items: center;
      width: calc(100% - 160px);
      padding: 15px 80px;
      background-color: #fff;
      border-bottom: 1px solid #CCCCCC;
      transform: translateY(-100%);
      opacity: 0;
      transition: transform 0.3s ease, opacity 0.3s ease;
      z-index: 51;
      @media screen and (max-width: $small) {
        padding: 10px 80px;
      }
      @media screen and (max-width: $x-small) {
        padding: 5px 30px;
        width: calc(100% - 60px);
      }
      &.is-visible {
        transform: translateY(0);
        opacity: 1;
      }
      &-cont {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        max-width: 550px;
        width: 100%;
      }
      svg {
        cursor: pointer;
      }
      &_close {
        width: 16px;
        height: 16px;
      }
      &_input {
        width: calc(100% - 56px);
        height: 31px;
        outline: none;
        border: 1px solid #cccccc;
        border-radius: 10px;
        padding: 0 40px 0 16px;
        color: #cccccc;

        &:focus:not(:placeholder-shown) {
          border-color: #EF7F1A;
          color: #171717;
          font-family: 'Exo 2 Bold', serif;
        }
      }
      &_container {
        position: relative;
        width: 100%;
        svg {
          position: absolute;
          right: 10px;
          top: 5.5px;
          path {
            fill: #EF7F1A;
          }
        }
      }
    }
  }
  &__menu {
    background-color: rgba(0, 0, 0, 0.54);
    position: absolute;
    top: 108px;
    left: 50%;
    transform: translateX(-50%);
    max-height: 70vh;
    overflow: auto;
    max-width: 1280px;
    width: calc(90% - 160px);
    background-color: #fff;
    padding: 40px 80px;
    display: none;
    grid-template-columns: 1fr 1fr;
    gap: 60px 115px;
    z-index: 99;
    @media screen and (max-width: $large) {
      gap: 30px 70px;
    }
    @media screen and (max-width: $medium) {
      top: 98px;
      grid-template-columns: 1fr;
    }
    @media screen and (max-width: $small) {
      top: 96px;
      padding: 20px;
      width: calc(90% - 40px);
    }
    @media screen and (max-width: $x-small) {
      top: 72px;
    }
    &_title {
      display: flex;
      justify-content: space-between;
      padding-bottom: 30px;
      border-bottom: 1px solid #EF7F1A;
      @media screen and (max-width: $x-small) {
        padding-bottom: 15px;
      }
    }
    &_search {
      grid-template-columns: 1fr;
    }
    &-phone {
      z-index: 100;
      position: relative;
      top: unset;
      left: unset;
      transform: unset;
      padding: 0 10px;
      width: calc(100% - 20px);
    }
    &_container {
      display: flex;
      gap: 20px;
      &-search {
        display: flex;
        gap: 20px;
        align-items: center;
        @media screen and (max-width: $small) {
          gap: 10px;
        }
        &-cont {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 30px 20px;
          @media screen and (max-width: $medium) {
            grid-template-columns: 1fr;
          }
        }
        &-info {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
        img {
          width: 75px;
          height: 75px;
          object-fit: cover;
          @media screen and (max-width: $small) {
            width: 50px;
            height: 50px;
          }
        }
      }
      img {
        width: 75px;
        height: 75px;
        object-fit: cover;
      }
    }
    &_info {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
    &_name {
      cursor: pointer;
      font-size: 20px;
      color: #171717;
      font-weight: bold;
      transition: 0.2s;
      @media screen and (max-width: $small) {
        font-size: 14px;
      }
      &:hover {
        color: #EF7F1A;
        transition: 0.2s;
      }
    }
    &_data {
      font-size: 20px;
      color: #171717;
      @media screen and (max-width: $small) {
        font-size: 14px;
      }
    }
    &_items {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    &_item {
      line-height: 14px;
      cursor: pointer;
      color: #171717;
      transition: 0.2s;
      &:hover {
        color: #EF7F1A;
        transition: 0.2s;
      }
      &-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      &-arrow {
        display: flex;
        align-items: center;
        gap: 4px;
        cursor: pointer;
      }
    }
    &_subitem {
      padding-left: 20px;
      line-height: 14px;
      cursor: pointer;
      &-container {
        display: none;
        flex-direction: column;
        gap: 10px;
      }
    }
  }
}