$x-small: 575.98px;
$small: 767.98px;
$medium: 991.98px;
$large: 1199.98px;
$x-large: 1399.98px;
$big: 1592.98px;
$x-big: 1829.98px;

.head {
  position: relative;
  overflow: hidden;
  //background-image: url(/a64845b2ddf97aa28ae693147c1cb957.jpg);
  //background-repeat: no-repeat;
  //background-size: cover;
  //background-position: center;
  transition: background-image 0.5s ease;
  &__content-main {
    position: relative;
    padding: 100px 80px;
    height: 562px;
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    overflow: hidden;
    @media screen and (max-width: $medium){
      height: 400px;
      padding: 80px 50px;
    }
    @media screen and (max-width: $small){
      height: unset;
      grid-template-columns: 1fr;
      gap: 30px;
      padding: 50px;
    }
    @media screen and (max-width: $x-small){
      padding: 30px;
    }
  }
  &__pagination {
    position: absolute;
    bottom: 100px;
    left: 80px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    @media screen and (max-width: $medium){
      bottom: 80px;
      left: 50px;
      gap: 5px;
    }
    @media screen and (max-width: $small){
      position: relative;
      bottom: 0;
      left: 0;
    }
    &-item {
      width: 52px;
      height: 52px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      z-index: 6;
      @media screen and (max-width: $medium){
        transform: scale(0.8);
      }
      &.inactive {
        opacity: 0.3;
      }
      &.active {
        .inner {
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: #EF7F1A;
          animation: xxx 5s linear forwards;
          z-index: 1;
          clip-path: polygon(50% 0%, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 50%, 50% 50%);
        }

        @keyframes xxx {
          12.5% {
            clip-path: polygon(50% 0%, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0, 50% 50%, 50% 50%);
          }
          25% {
            clip-path: polygon(50% 0%, 100% 0, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 50% 50%, 50% 50%);
          }
          37.5% {
            clip-path: polygon(50% 0%, 100% 0, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 50%, 50% 50%);
          }
          50% {
            clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 50%, 50% 50%);
          }
          62.5% {
            clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0 100%, 0 100%, 0 100%, 50% 50%, 50% 50%);
          }
          75% {
            clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0 100%, 0 50%, 0 50%, 50% 50%, 50% 50%);
          }
          87.5% {
            clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0 100%, 0 0, 0 0, 50% 50%, 50% 50%);
          }
          100% {
            clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0 100%, 0 0, 50% 0, 50% 50%, 50% 50%);
          }
        }
      }
      .border {
        position: absolute;
        width: calc(100% - 7px);
        height: calc(100% - 7px);
        border-radius: 50%;
        border: 3px solid white;
      }
      span {
        width: calc(100% - 28px);
        height: calc(100% - 28px);
        color: white;
        font-size: 22px;
        position: absolute;
        background-color: #1b1b1b;
        border-radius: 50%;
        padding: 11px;
        z-index: 2;
        line-height: 24px;
      }
    }
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(10px);
  }
  &__black {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  &__info {
    display: flex;
    justify-content: center;
    align-items: self-start;
    flex-direction: column;
    gap: 20px;
    z-index: 1;
    @media screen and (max-width: $medium) {
      justify-content: unset;
    }
    &_title {
      font-size: 48px;
      color: white;
      letter-spacing: 4px;
      @media screen and (max-width: $medium){
        font-size: 30px;
      }
      &-little {
        z-index: 5;
        font-size: 24px;
        color: white;
        letter-spacing: 4px;
        @media screen and (max-width: $small){
          font-size: 18px;
        }
      }
    }
    &_subtitle {
      z-index: 5;
      font-size: 20px;
      color: white;
      letter-spacing: 2px;
      line-height: 25px;
      @media screen and (max-width: $medium){
        font-size: 14px;
        line-height: 16px;
      }
    }
    &_btn {
      margin-top: 10px;
    }
  }
  &__img {
    &-container {
      margin-left: 80px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 10px;
      padding: 30px;
      position: relative;
      transition: background-image 0.5s ease;
      @media screen and (max-width: $large) {
        margin-left: unset;
      }
      @media screen and (max-width: $small) {
        height: 200px;
      }
      &-black {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
      }
    }
  }
  &__content {
    max-width: 1440px;
    margin: 0 auto;
    padding: 100px 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    @media screen and (max-width: $large){
      padding: 80px;
    }
    @media screen and (max-width: $medium){
      padding: 60px 50px;
    }
    @media screen and (max-width: $small){
      grid-template-columns: 1fr;
    }
    @media screen and (max-width: $x-small){
      padding: 40px 30px;
    }
    &_title {
      font-size: 22px;
      color: #EF7F1A;
      line-height: 26px;
      text-transform: uppercase;
      letter-spacing: 2px;
      max-width: 500px;
      width: 100%;
      @media screen and (max-width: $large){
        font-size: 20px;
        line-height: 23px;
      }
      @media screen and (max-width: $medium){
        font-size: 16px;
        line-height: 18px;
      }
      &-container {
        display: flex;
        align-items: center;
        gap: 10px;
      }
      &_slash {
        font-size: 46px;
        color: #EF7F1A;
        line-height: 20px;
        @media screen and (max-width: $medium){
          font-size: 30px;
          line-height: 18px;
        }
      }
    }
    &_info {
      font-size: 20px;
      line-height: 25px;
      letter-spacing: 1px;
      font-weight: 400;
      @media screen and (max-width: $large){
        font-size: 18px;
        line-height: 20px;
      }
      @media screen and (max-width: $medium){
        font-size: 14px;
        line-height: 16px;
      }
      a {
        color: #EF7F1A;
        text-transform: uppercase;
        font-weight: 700;
      }
    }
  }
}
.best-product {
  background: #F5F5F5;
  &_page {
    max-width: 1440px;
    margin: 0 auto;
    padding: 100px 80px;
    @media screen and (max-width: $large){
      padding: 80px;
    }
    @media screen and (max-width: $medium){
      padding: 60px 50px;
    }
    @media screen and (max-width: $x-small){
      padding: 40px 30px;
    }
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    @media screen and (max-width: $x-small){
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__items {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 60px 20px;
    @media screen and (max-width: $large){
      grid-template-columns: 1fr 1fr;
      gap: 40px 20px;
    }
    @media screen and (max-width: $small){
      gap: 20px 10px;
    }
    @media screen and (max-width: $x-small){
      grid-template-columns: 1fr;
    }
  }
  &__item {
    padding: 20px 20px 30px 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(39, 39, 39, 0.09);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    a {
      position: relative;
    }
    &_img {
      height: 284px;
      width: 100%;
      object-fit: contain;
      border-radius: 20px;
      @media screen and (max-width: $small){
        height: 200px;
      }
    }
    &_top {
      position: absolute;
      color: #EF7F1A;
      top: 10px;
      right: 10px;
      padding: 8px 16px;
      border: 2px solid #EF7F1A;
      background-color: #fff;
      border-radius: 20px;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 1px;
    }
    &_content {
      display: flex;
      flex-direction: column;
      gap: 6px;
    }
    &_title {
      color: #171717;
      font-size: 20px;
      font-weight: 600;
      line-height: 25px;
      letter-spacing: 1px;
    }
    &_desc {
      color: #343A40;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 1px;
      max-height: 50px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
    &_container {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
    &_price {
      color: #EF7F1A;
      font-weight: 600;
      font-size: 18px;
      line-height: 18px;
      letter-spacing: 1px;
    }
    &_btn {
      padding: 12px 50px;
      border-radius: 8px;
      outline: none;
      border: 2px solid #EF7F1A;
      background-color: #EF7F1A;
      color: #fff;
      font-size: 16px;
      letter-spacing: 2px;
      cursor: pointer;
      text-align: center;
      transition: 0.3s;
      &:hover {
        background-color: #fff;
        border: 2px solid #EF7F1A;
        color: #EF7F1A;
        transition: 0.3s;
      }
    }
  }
}
.types {
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px 80px;
  @media screen and (max-width: $large){
    padding: 50px 80px;
  }
  @media screen and (max-width: $medium){
    padding: 50px 50px;
  }
  @media screen and (max-width: $x-small){
    padding: 40px 30px;
  }
}

.swiper__right, .swiper__left {
  position: absolute;
  cursor: pointer;
  width: 52px;
  height: 52px;
  top: calc(50% - 50px);
}
.swiper__right {
  right: 20px;
  transform: rotate(180deg);
  @media screen and (max-width: $medium){
    right: 20px;
  }
  @media screen and (max-width: $small){
    display: none;
  }
}
.swiper__left {
  left: 20px;
  @media screen and (max-width: $medium){
    left: 20px;
  }
  @media screen and (max-width: $small){
    display: none;
  }
}
.swiper {
  margin-top: 30px;
  width: 100%;
  height: 616px;
  position: relative;
  @media screen and (max-width: $medium){
    width: 100%;
  }
  @media screen and (max-width: $small){
    height: 450px;
  }
  &__container {
    position: relative;
  }
  &__slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__right,
  &__left {
    z-index: 10;
  }
  &__title {
    margin: 30px 0 0 30px;
    padding: 15px 50px;
    background-color: #EF7F1A;
    display: inline-block;
    border-radius: 40px;
    color: white;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    @media screen and (max-width: $small){
      font-size: 16px;
      padding: 10px 35px;
    }
  }
  &__pagination {
    margin-top: 30px;
    display: flex;
    gap: 16px;
    @media screen and (max-width: $small){
      margin-top: 20px;
    }
    &_container {
      display: flex;
      justify-content: center;
    }
  }
  &-pagination {
    &-bullet {
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: #EFEFEF;
      cursor: pointer;
      &-active {
        background-color: #EF7F1A;
      }
    }
  }
}
.category-prod {
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px 80px;
  @media screen and (max-width: $large){
    padding: 50px 80px;
  }
  @media screen and (max-width: $medium){
    padding: 50px 50px;
  }
  @media screen and (max-width: $x-small){
    padding: 40px 30px;
  }
  .types {
    padding: 50px 80px;
  }
  &__container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    @media screen and (max-width: $small){
      grid-template-columns: 1fr;
    }
  }
  &__btn {
    //white-space: nowrap;
    @media screen and (min-width: $x-large){
      white-space: nowrap;
    }
    @media screen and (max-width: $large){
      padding: 15px 30px;
    }
  }
  &__item {
    height: 568px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 30px;
    display: flex;
    align-items: flex-end;
    @media screen and (max-width: $large){
      height: 450px;
    }
    @media screen and (max-width: $medium){
      height: 350px;
      padding: 20px;
    }
    @media screen and (max-width: $small){
      height: 300px;
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
    }
  }
  &__content {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    @media screen and (max-width: $medium){
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
    }
  }
  &__title {
    color: white;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
    @media screen and (max-width: $large){
      font-size: 16px;
      line-height: 22px;
    }
    @media screen and (max-width: $small){
      font-size: 14px;
      line-height: 16px;
    }
  }
}
.questions {
  max-width: 1440px;
  margin: 0 auto 50px auto;
  padding: 50px 80px;
  @media screen and (max-width: $large){
    padding: 50px 80px;
  }
  @media screen and (max-width: $medium){
    padding: 50px 50px;
  }
  @media screen and (max-width: $x-small){
    padding: 40px 30px;
  }
  &__container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    @media screen and (max-width: $large){
      grid-template-columns: 1fr 1.5fr;
    }
    @media screen and (max-width: $small){
      grid-template-columns: 1fr;
    }
  }
  &__info {
    margin-right: 108px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    @media screen and (max-width: $large){
      margin-right: unset;
    }
    &_description {
      color: #171717;
      font-size: 20px;
      line-height: 25px;
      letter-spacing: 2px;
      @media screen and (max-width: $medium){
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 1px;
      }
    }
    &_img {
      width: 100%;
      height: 608px;
      object-fit: cover;
      @media screen and (max-width: $large){
        height: 587px;
      }
      @media screen and (max-width: $medium){
        height: 519px;
      }
      @media screen and (max-width: $small){
        display: none;
      }
    }
  }
  &__form {
    background-color: #FEF4E8;
    border-radius: 10px;
    padding: 60px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: $medium){
      padding: 30px;
    }
    &_container {
      max-width: 454px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
    &_title {
      text-align: center;
      color: #171717;
      font-size: 22px;
      line-height: 26px;
      font-family: 'Exo 2 Bold', serif;
      letter-spacing: 2px;
      text-transform: uppercase;
      @media screen and (max-width: $medium){
        font-size: 18px;
        line-height: 22px;
      }
    }
    &_inputs {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    &_name {
      font-size: 20px;
      line-height: 25px;
      letter-spacing: 1px;
      color: black;
      @media screen and (max-width: $medium){
        font-size: 16px;
        line-height: 20px;
      }
    }
    &_input {
      width: calc(100% - 32px);
      outline: none;
      border: none;
      padding: 12px 16px;
      border-radius: 8px;
      font-size: 14px;
      margin-bottom: 10px;
      &.error {
        border: 1px solid red;
        background-color: #FEEFEC;
        &::placeholder {
          color: red;
          opacity: 1;
        }
      }
    }
    &_textarea {
      width: calc(100% - 32px);
      outline: none;
      border: none;
      padding: 12px 16px;
      border-radius: 8px;
      font-size: 14px;
      min-height: 176px;
      resize: vertical;
      &.error {
        border: 1px solid red;
        background-color: #FEEFEC;
        &::placeholder {
          color: red;
          opacity: 1;
        }
      }
    }
    &_btn {
      max-width: 260px;
      width: 100%;
    }
  }
}